<% layout('/layouts/boilerplate') %>
    <!-- main body section -->
    <div class="container overflow-hidden">
        <div class="ListsHeading">
            <h1>All Listings</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
            <% if (!allLists) { %>
                <h3>No Place Found</h3>
                <% } %>
                    <% allLists.forEach(item=> { %>
                        <div class="col custom_css_card">
                            <div class="card">
                                <a href="/listing/<%= item._id %>">
                                    <img src="<%= item.image.url %>" class="card-img-top" alt="img">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= item.hotelTitle %>
                                        </h5>
                                        <p class="card-text">
                                            <%= item.hotelLocation %>
                                        </p>
                                        <p class="card-text">₹<%= item.hotelPrice %> / night</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <% }) %>
        </div>
    </div>