<% layout('/layouts/boilerplate') %>
    <!-- main body section -->
    <div class="container overflow-hidden custom_css_allListings">
        <%- include('./categoryNav.ejs') %>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                <% if (allLists.length===0) { %>
                    <h2 class="m-5">No Place Found</h2>
                    <% } %>
                        <% allLists.forEach(item=> { %>
                            <div class="col custom_css_card">
                                <div class="card">
                                    <a href="/listing/<%= item._id %>">
                                        <img src="<%= item.image.url %>" class="card-img-top" alt="img">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= item.hotelTitle %>
                                            </h5>
                                            <p class="card-text">
                                                <%= item.hotelLocation %>
                                            </p>
                                            <div class="d-flex">
                                                <p class="card-text">₹<%= item.hotelPrice %> / night </p>
                                                <p class="custom_tax_js card-text ms-3"> + 18% TAX included</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <% }) %>
            </div>
    </div>