<% layout('/layouts/boilerplate') %>

    <div class="container d-flex justify-content-center">
        <form class="custom_editPlace_form needs-validation" novalidate action="/listing/<%= element.id %>/edit/"
            method="post">
            <h1 class="heading">Edit Your Place</h1>

            <div class="mb-3">
                <label for="titleNewPlacePost" class="form-label">Title</label>
                <input value="<%= element.hotelTitle %>" type="text" name="hotelTitle" class="form-control"
                    placeholder="Enter the title of your place" id="titleNewPlacePost" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter Title of your Place
                </div>
            </div>

            <div class="mb-3">
                <label for="descriptionNewPlacePost" class="form-label">Description</label>
                <textarea name="hotelDescription" type="text" class="form-control"
                    placeholder="Enter the Description of your place" id="descriptionNewPlacePost" rows="3"
                    required><%= element.hotelDescription %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter Description of your Place
                </div>
            </div>

            <div class="mb-3">
                <label for="imageNewPlacePost" class="form-label">Image Link</label>
                <input value="<%= element.imgUrl %>" name="imgUrl" type="text" class="form-control"
                    placeholder="Enter the Image Link of your place" id="imageNewPlacePost">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter Image Link of your Place
                </div>
            </div>

            <div class="row">

                <div class="col-4 mb-3">
                    <label for="priceNewPlacePost" class="form-label">Price</label>
                    <input value="<%= element.hotelPrice %>" name="hotelPrice" type="number" class="form-control"
                        placeholder="Enter the Price of your place" id="priceNewPlacePost" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter Valid Price of your Place
                    </div>
                </div>

                <div class="col-8 mb-3">
                    <label for="hotelCountry" class="form-label">Country</label>
                    <input value="<%= element.hotelCountry %>" name="hotelCountry" type="text" class="form-control"
                        placeholder="Enter the Country of your place" id="hotelCountry" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter Country of your Place
                    </div>
                </div>

                <div class="mb-3">
                    <label for="hotelLocation" class="form-label">Location</label>
                    <input value="<%= element.hotelLocation %>" name="hotelLocation" type="text" class="form-control"
                        placeholder="Enter the Location of your place" id="hotelLocation" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter Location of your Place
                    </div>
                </div>


            </div>
            <button class="btn btn-primary my-3">Confirm Edit</button>
        </form>
    </div>